@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    In Cloud<br />
    Server rack, 3rd row<br />
    <abbr title="Phone">P:</abbr>
    127.0.0.1
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
