
@{
    ViewData["Title"] = "Stacks";
}

<h2>Stacks</h2>

<div class="row">
    <div class="divTable greyGridTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableCell"><strong>CI/CD</strong></div>
                <div class="divTableHead">Orchestration</div>
                <div class="divTableHead">Test</div>
                <div class="divTableHead">Monitoring</div>
                <div class="divTableHead">Logging</div>
                <div class="divTableHead">Publish</div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">
                    <img alt="GitLab" height="85" src="~/images/logo/gitlab-logo-square.png" width="104" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="55" src="~/images/logo/st2-logo.png" width="200" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="95" src="~/images/logo/Seleniumlogo.png" width="118" />
                </div>
                <div class="divTableCell">

                    <img alt="" height="96" src="~/images/logo/prometheus_4.png" width="123" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="115" src="~/images/logo/logo-circle-graylog.png" width="134" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="104" src="~/images/logo/haproxy.png" width="169" />
                </div>

            </div>
            <div class="divTableRow">
                <div class="divTableCell">
                    <img alt="Jenkins" height="100" src="~/images/logo/jenkins.png" width="112" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="110" src="~/images/logo/SaltStack_Logo-color.png" width="173" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="98" src="~/images/logo/pytest.png" width="134" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="96" src="~/images/logo/xCMw-grafana.png" width="153" />
                </div>
                <div class="divTableCell"> 
                    <img alt="" height="70" src="~/images/logo/splunk.png" width="208" />
                </div>
                <div class="divTableCell"></div>

            </div>
            <div class="divTableRow">
                <div class="divTableCell"> 
                    <img alt="Nexus" height="45" src="~/images/logo/nexus-banner.png" width="123" />
                </div>
                <div class="divTableCell">  
                    <img alt="" height="43" src="~/images/logo/rancher-logo-horiz-color.png" width="196" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="65" src="~/images/logo/sonarqube_logo_720.png" width="197" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="74" src="~/images/logo/Kibana-Logo-Color-H-300x137.png" width="212" />
                </div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>

            </div>
            <div class="divTableRow">
                <div class="divTableCell"></div>
                <div class="divTableCell">
                    <img alt="" height="104" src="~/images/logo/kuber.png" width="169" />
                </div>
                <div class="divTableCell">
                    <img alt="" height="73" src="~/images/logo/JUnit_logo.png" width="173" />
                </div>
                <div class="divTableCell"> 
                    <img alt="" height="111" src="~/images/logo/zabbix-monitoring.png" width="140" />
                </div>
                <div class="divTableCell"></div>
                <div class="divTableCell"></div>

            </div>
        </div>
        <div class="divTableFoot tableFootStyle">
            <div class="divTableRow">
                <div class="divTableCell">On demand</div>
                <div class="divTableCell">On demand</div>
                <div class="divTableCell">On demand</div>
                <div class="divTableCell">On demand</div>
                <div class="divTableCell">On demand</div>
                <div class="divTableCell">On demand</div>
            </div>
        </div>
    </div>
</div>
